.main-container {
    grid-template-rows: 50px auto auto auto;
    grid-template-areas: "n n n n n n n n n" "m m m m m m m m m" "r r r r r r r r r" "f f f f f f f f f"
}

h3 {
    margin: 0;
}

.main {
    grid-area: m;
    height: 100vh;
    width: 100%;
}

/*Stilizovanje videa sa pocetne stranice*/

.video-container {
    display: flex;
    /* margin: auto; */
    text-align: center;
    justify-content: center;
}

.home-video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home-video-wrapper video {
    position: fixed;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.home-sadrzaj {
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(31, 36, 33, 0.3);
}

.home-sadrzaj h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.home-sadrzaj h1 span {
    color: #91d0aa;
}

.home-sadrzaj p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.btn-general {
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    background-color: #f46036;
    color: white;
    cursor: pointer;
    z-index: 3;
}

.home-sadrzaj .btn-general:hover a {
    background-color: #edc649;
}

/* sekcija sa linkovima  */

.sobe {
    grid-area: r;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 100%;
}

.sobe div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobe img {
    width: 100%;
    height: 100%;
}

.sobe-container {
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.sobe-sadrzaj {
    background: rgba(31, 36, 33, 0.3);
    position: absolute;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.sobe-container a {
    color: white;
    text-decoration-line: none;
    background-color: #edc649;
    width: 60%;
    text-align: center;
    z-index: 1;
}

.sobe-container a:hover {
    color: #1f2421;
}

.sobe-container a h6 {
    font-size: 1.5em;
}

/* Responsive */

@media screen and (min-width: 769px) {
    .sobe {
        grid-area: r;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .home-sadrzaj {
        max-width: 40%;
        left: 0;
    }
}

