
.main-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 9% auto auto auto;
    grid-template-areas: "n n n n n n n n n" "m m m m m m m m m" "r r r r r r r r r" "f f f f f f f f f"
}

h3 {
    margin: 0px;
}

nav {
    grid-area: n;
}

.main {
    height: 100vh;
    grid-area: m;
}

.sobe {
    height: 70vh;
    grid-area: r;
}


/*Stilizovanje videa sa pocetne stranice*/

.main {
    display: flex;
    justify-content: center;
}

.home-bg-video {
    position: fixed;
    top: 0;
    z-index: -1;
    
}



.home-cover {
    padding: 10% 10% 0 10%;
    background-color: rgb(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.home-cover div {
    justify-content: center;
}

.home-cover h1 {
    font-size: 48px;
    font-weight: 700;
}

.home-cover img {
    width: 200px;
    height: 200px;
    
}

.home-cover p {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin: 8px 0 30px 0;

}

.home-btn {
    margin-top: 100px;
}

.btn-general {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.4s;
    background-color: #f46036;
    color: white;
}

.sobe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 1%;
    height: 100%;
}

.sobe div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.sobe div img{
    width: 100%;
    height: 100%;
}

.sobe-container{
    position: relative
}

.sobe-container h6 {
    position: absolute;
    background-color: #edc649;
    font-size: 2rem;
    bottom: -2rem;
    
}

footer {
    grid-area: f;
}

/* Responsive */


@media screen and (min-width: 769px) {
    .main-container {
        grid-template-rows: 5% 100vh 70vh 30%;
     
    }
    
    .main {
        justify-content: flex-start;
    }
    .sobe {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media (min-aspect-ratio: 16/9) {
    .home-bg-video {
        width: 100%;
        height: auto;
        
    }
}

@media (max-aspect-ratio: 16/9) {
    .home-bg-video {
        width: auto;
        height: 100%;
        
    }
}


@media screen and (min-device-width: 481px) and (max-device-width: 768px) {}

@media only screen and (max-device-width: 480px) {}