/* Gridovanje stranice rezervacije */

body {
    color: #1f2421;
}

.main-container {
    grid-template-rows: 50px auto auto;
    grid-template-areas: "n n n n n n n n n" "r r r r r r r r r" "f f f f f f f f f";
}

.desno-container {
    grid-area: d;
    background-color: #fff;
}

.levo-container {
    grid-area: l;
    background-color: #fff;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poruka {
    background: #f46036;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.rezervacija-container {
    grid-area: r;
    background-image: url("../img/forma-pozadina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-korisnik, .modal-datum, .modal-soba, .ispis-rezervacije {
    width: 80%;
    height: 100vh;
    background: rgba(31, 36, 33, 0.5);
    display: none;
}


.prikaz-n{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.prikaz-r{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.modal-korisnik {
    display: flex;
    flex-direction: column;
}



.ispis-rezervacije {
    color: white;
}

/* Stilizovanje Unosa podataka o korisniku */

.forma-korisnik {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma-korisnik h3 {
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forma-korisnik input {
    width: 80%;
}

input::placeholder {
    color: #dce1de;
}

input:focus {
    color: white;
    border-bottom-style: solid;
}

/* Stilizovanje Unosa podataka o datumu rezervacije */

.rezervacija-datuma-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.rezervacija-datuma-container h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.forma-rezervacija-datuma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma-rezervacija-datuma div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma-rezervacija-datuma input {
    width: 150px;
    text-align: center;
}

.izaberi-datum::-webkit-inner-spin-button, .izaberi-datum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Stilizovanje odabira sobe */

.slike-sobe-izbor {
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal-soba h3 {
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.modal-soba select {
    background: #1f2421;
    color: #fff;
    padding: 10px;
    height: 40px;
    border: none;
    font-size: 1em;
    box-shadow: 0 5px 5px #1f2421;
    -webkit-appearance: button;
    outline: none;
    cursor: pointer;
}

.izbor-soba {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ispis {
    padding-top: 10%;
}

.porukaHvala{
    font-size: 2em;
    color: #fff;
    display: none;
}

@media screen and (min-width:480px) {
    
    .slike-sobe-izbor {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}

@media screen and (min-width:769px) {
   
    .main-container {
        grid-template-rows: 50px auto auto auto;
        grid-template-areas: "n n n n n n n n n" "d r r r r r r r l" "d r r r r r r r l" "f f f f f f f f f"
    }
    .forma-korisnik input {
        width: 50%;
    }
}