/* Gridovanje stranice rezervacije */

body {
    color: #1f2421;
}

* {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 10% auto auto;
    grid-template-areas: "n n n n n n n n n" "r r r r r r r r r" "f f f f f f f f f"
}

nav {
    grid-area: n;
}

.logo-branch{
    width: 100px;
    height: 100px;
}

.desno-container {
    grid-area: d;
    background-color: #ddd;
}

.levo-container {
    grid-area: l;
    background-color: #ddd;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poruka-ime, .poruka-telefon, .poruka-email, .poruka-datum{
    color: #f46036;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    margin: 0;
   
}

.rezervacija-container {
    grid-area: r;
    background-image: url("../img/forma-pozadina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal-korisnik {
    width: 80%;
    height: 100%;
    background: rgba(31, 36, 33, 0.5);
    display: flex;
    flex-direction: column;
    /* display: none; */
   
}

.modal-datum {
    width: 80%;
    height: 100%;
    background: rgba(31, 36, 33, 0.5);
    display: none;  
}

.modal-soba {
    width: 80%;
    height: 100%;
    background: rgba(31, 36, 33, 0.5);
    display: none;  
}

.ispis-rezervacije{
    width: 80%;
    height: 100%;
    background: rgba(31, 36, 33, 0.5);
    color: white;
    /* display: none;   */
}
/* Stilizovanje Unosa podataka o korisniku */

.forma-korisnik {
    /* margin-top: 10%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma-korisnik h3 {
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.btn{
    margin-top: 10px; 
    margin-bottom: 10px;
}

input {
    height: 50px;
    font-size: 1em;
    text-align: center;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
    color: white;
}

input::placeholder {
    color: #dce1de;
}

input:focus {
    color: white;
    border-bottom-style: solid;  
}

/* Stilizovanje Unosa podataka o datumu rezervacije */

.rezervacija-datuma-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin-top: 10%; */
    color: white;
}
.rezervacija-datuma-container h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.forma-rezervacija-datuma{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma-rezervacija-datuma div{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.forma-rezervacija-datuma input {
    width: 150px;
    text-align: center;
}

.izaberi-datum::-webkit-inner-spin-button, .izaberi-datum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Stilizovanje odabira sobe */

.slike-sobe-izbor {
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal-soba h3 {
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.modal-soba select{
    background: #1f2421;
    color: #fff;
    padding: 10px;
    height: 40px;
    border: none;
    font-size: 1em;
    box-shadow: 0 5px 5px #1f2421;
    -webkit-appearance: button;
    outline: none;
    cursor: pointer;
}

.izbor-soba{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ispis rezervacije */

/* .ispis-rezervacije{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.ispis{
    padding-top: 10%;
}







footer {
    grid-area: f;
}




@media screen and (min-width:480px) { 
    /* smartphones, Android phones, landscape iPhone */ 

    .slike-sobe-izbor {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
}

@media screen and (min-width:769px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .main-container {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 5% auto auto 20%;
        grid-template-areas: "n n n n n n n n n" "d r r r r r r r l" "d r r r r r r r l" "f f f f f f f f f"
    }

    .slike-sobe-izbor {
        
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .slike-sobe-izbor .slika-box {
        width: 50%;
    }
    
}
