/* Gridovanje stranice rezervacije */

body {
    color: #1f2421;
}

* {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 5% auto auto;
    grid-template-areas: "n n n n n n n n n" "r r r r r r r r r" "f f f f f f f f f"
}

nav {
    grid-area: n;
}

.desno-container {
    grid-area: d;
    background-color: #ddd;
}

.levo-container {
    grid-area: l;
    background-color: #ddd;
}

.nesto {
    width: 50px;
    height: 300px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rezervacija-container {
    grid-area: r;
    background: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal-korisnik {
    width: 80%;
    height: 100vh;
    background: yellow;
    border: 1px solid yellow;
    

}

.modal-datum {
    width: 80%;
    height: 100vh;
    background: greenyellow;
    display: none;  
}

.modal-soba {
    width: 80%;
    height: 100%;
    background: orange;
    display: none;  
}

.forma-korisnik {
    width: 100%;
    height: 100%;
}

.forma-korisnik h3 {
    text-align: center;
}

input {
    width: 60%;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
}

input::placeholder {
    color: white;
}

input:focus {
    width: 80%;
}

.forma-rezervacija-datuma input {
    width: 150px;
}

.izaberi-datum::-webkit-inner-spin-button, .izaberi-datum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slike-sobe-izbor {

    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.slike-sobe-izbor .slika-box {
    position: relative;
    width: 100%;
    border: 3px solid green;
    background: yellow;
    box-sizing: border-box;
    display: inline-block;
}

.slike-sobe-izbor .slika-box .slika-sa-naslovom {
    position: relative;
    overflow: hidden;
}

.slike-sobe-izbor .slika-box .slika-sa-naslovom img {
    max-width: 100%;
    transition: transform 2s;
    cursor: pointer;
    
}

.slike-sobe-izbor .slika-box:hover .slika-sa-naslovom img {
    transform: scale(1.2);
    
}

.slike-sobe-izbor .slika-box .datails {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(237, 198, 73, 0.7);
    transform: scaleY(0);
    transition: transform 0.5s;
    cursor: pointer;
}

.slike-sobe-izbor .slika-box:hover .datails {
    transform: scaleY(1);
}

.slike-sobe-izbor .slika-box .datails .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #1f2421;
}

.slike-sobe-izbor .slika-box .datails .content h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

/* .slike-sobe-izbor .slika-box .datails .content p {} */



footer {
    grid-area: f;
}




@media (min-width:480px) and (max-width:800px){ 
    /* smartphones, Android phones, landscape iPhone */ 

    .slike-sobe-izbor {
        
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
}

@media (min-width:801px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .main-container {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 5% auto auto 20%;
        grid-template-areas: "n n n n n n n n n" "d r r r r r r r l" "d r r r r r r r l" "f f f f f f f f f"
    }

    .slike-sobe-izbor {
        
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .slike-sobe-izbor .slika-box {
        width: 50%;
    }
    
}
